html,body{
    margin:0px;
    padding:0px;
    height:100%;
}
body{
    overflow:hidden;
    background-color: #BFBFBF;
    background-image: url("../img/back_lat.png");
    background-position: left;
    background-repeat: repeat-y;
    background-size: 16%;
}

h2{
    font-size: 42px;
    color: #1e3f60;
    text-align: center;
}

p {
    padding-left:50px;
    color: #0061A6;
    font-size: 28px;
}



.slide{
    margin-top: 50px;
    height:850px;
    width:900px;

    background-image: url("../img/headSerpro.jpg"), url("../img/rodapeSerpro.png");
    background-position: top center, bottom center;
    background-repeat: no-repeat, no-repeat;
    background-color: #ffffff;
    display: none;
}

h1 {
    font-size: 38px;
    text-align: center;
    color: white;
    padding-top: 40px;

}

.rodape{
    background: #adb9bf center center no-repeat;
    text-align: right;
    margin-left: 80px;
    width: 1000px;

}

.slide_capa{
    height:850px;
    width:900px;
    margin-top: 30px;
    background: url("../img/backcapa.jpg") #BFBFBF center center no-repeat;
    padding-left:0px;
    
}

.slide_capa h1 {
    color: #FFFFFF;
    font-size: 40px;
    padding-top: 250px;    
    margin-left: -20px;
}

.slide_capa p {
    color: #FFFFFF;
    font-size: 18px;
    text-align: left;
    padding-top: 0px;    
    margin-left: 0px;
    line-height: 50%;
}

.slide_fim{
    height:850px;
    width:900px;
    margin-top: 80px;
    margin-bottom: 50px;
    background: url("../img/backfim.jpg"), url("../img/nuvem01.jpg");
    background-color: #ffffff ;
    background-position: bottom center, center center ;
    background-repeat: no-repeat, no-repeat;
    background-size: 50%;
    display: none;
}

.slide_fim h1{
    color: #7C97CF;
    font-size: 40px;
    text-align: center;
    
}


.box {
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
    height: 670px;
    width: 880px;
}

ul {
    font-size: 24px;
    color: #0061A6;
    text-align: left;
    padding-left: 10px;
    list-style-type: square;
    line-height:1.5em;

}

.myimg {
    margin-left: auto;
    margin-right:auto;
    padding-top: 200px;
    width:10%;
    height:10%;

}

img {
	float:right;
    height: 650px;
    width: 650px;
}

#rodape {
    position: relative;
    margin-top: 65px;
    height: 20px;
    clear: both;
}

#rodape p{
   font-size: 12px;
   text-align: center;
}

video {
   float: left;
   margin-top: -85px;
   margin-left: 0px;
}

.imagem_esq {
    float: left;
    position: relative;
    width:50%;
    height:50%;
    padding: 5px;
}

.imagem_dir {
 
    float:right;
    width:300px;
    height:500px;
    padding: 5px;
}

.imagem_full {
    float:left;
    height: 600px;
    width: 870px;
    padding: 0px;
}

.imagem_topo {
    height:100px;
    width:850px;

}

.imagem_base {
    position: absolute;
    top: 10px;
    height:100px;
    width:850px;
}



#centro {
    display:inline; /*Bug da margem dupla para floats no IE*/ 
    float:left;
    width:80%;
    margin-left:20%;
    }
    
#esquerda {
    float:left;
    width:10%;
    margin-left:-50%;
    }
#direita{
    float:left;
    width:10%;
    margin-left:-70%;
    }


.comentario p {
   color: red;
   font-size: 12px; 
}

